.main {
  margin-top: 15px;
  padding: 5px;
  border: 1px solid #cecece;
  border-radius: 5px;

  :global(.CodeMirror) {
    font-size: 14px;
    height: auto; // Autoexpand
  }
}

:global(.CodeMirror-hints) {
  font-size: 14px;
}
