.resultContent {
  padding: 5px;
  border: 1px solid black;
  cursor: pointer;

  &:hover {
    border: 1px solid #179fff;
  }
}

.resultTitle {
  color: black;
  font-size: 24px;
  display: inline-block;
  margin-bottom: 5px;
}

.resultList {
  list-style-type: none;
  padding-left: 0;
}

.singleResult {
  margin-bottom: 30px;
}
