@import "../node_modules/codemirror/lib/codemirror.css";
@import "../node_modules/codemirror/addon/hint/show-hint.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-size: 14px;
}

.CodeMirror {
  font-size: 14px;
  height: auto; /* Autoexpand */
}

.CodeMirror-hints {
  font-size: 14px;
}
