jobs:
  check-drift:
    name: Check Drift
    runs-on: ubuntu-latest
    steps:
      - uses: "actions/checkout@v2"
      - uses: "dhall-lang/setup-dhall@v4.2.0"
        with:
          github_token: "${{ github.token }}"
          version: '1.40.1'
      - name: Make Dhall
        run: "make clean && make"
      - name: Check for any changes
        run: |2
            test -n "$(git status --porcelain)"
name: Check Dhall Drift
on:
  push: {}
